templates/Porocad_Lotid_check/Porocad_Lotid_check.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"DatabricksStarlimsLS": {
			"type": "string"
		},
		"SqlServerPorcadQALS": {
			"type": "string"
		},
		"DataLakeGen2StarlimsLS": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Porocad_Lotid_check')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fetch LotIDs from Final Daily table",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/v.kollapudi@shell.com/Porocad_Sample_LotID_Json"
						},
						"linkedServiceName": {
							"referenceName": "[parameters('DatabricksStarlimsLS')]",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "jsonValue",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Fetch LotIDs from Final Daily table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "js",
							"value": {
								"value": "@{activity('Fetch LotIDs from Final Daily table').output.runOutput}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "execSP",
						"type": "Script",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "[parameters('SqlServerPorcadQALS')]",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"parameters": [
										{
											"name": "slLotIDS",
											"type": "String",
											"value": {
												"value": "@variables('js')",
												"type": "Expression"
											},
											"direction": "Input"
										}
									],
									"type": "Query",
									"text": "execute spSLLotIDCheckForInjestion"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "OutputVar",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "execSPLotIDInjection",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "lotIDs_json",
							"value": {
								"value": "@activity('execSPLotIDInjection').output.firstRow.lotIDs_json",
								"type": "Expression"
							}
						}
					},
					{
						"name": "execSPLotIDInjection",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "jsonValue",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spSLLotIDCheckForInjestion]",
								"storedProcedureParameters": {
									"lotIDs_json": {
										"type": "String",
										"value": null
									},
									"slLotIDS": {
										"type": "String",
										"value": {
											"value": "@variables('js')",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PoroCadQAResultsSQLDS",
								"type": "DatasetReference"
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Trigger StarlimsAPI",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "OutputVar",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"StarlimsUser": "API_USER",
								"StarlimsPass": "Shell@12345"
							},
							"httpRequestTimeout": "00:01:40",
							"url": "https://spcdev.starlimscloud.com/STARLIMS.SPC.DEV.Catalyst/ShellAPI.wsDataTransitUpdateStatus.lims",
							"connectVia": {
								"referenceName": "elpIR",
								"type": "IntegrationRuntimeReference"
							},
							"body": {
								"value": "@json(variables('lotIDs_json'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Execute Porocad PressureVolume Pripeline",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "If Condition1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Porocad_to_PressureVolume_PQRDB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PQR_A": {
									"value": "@variables('PQR_A')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Execute Porocad QA Results",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "If Condition1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PorocadQAResults",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "execSPLotIDInjection",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@bool(contains(json(activity('execSPLotIDInjection').output.firstRow.lotIDs_json),'PQR-A'))\n",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Set variable2",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "PQR_NA",
										"value": {
											"value": "@string('Not Proceed as Lot not Present')",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "PQR_A",
										"value": {
											"value": "@json(activity('execSPLotIDInjection').output.firstRow.lotIDs_json)['PQR-A']",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"variables": {
					"jsonValue": {
						"type": "String"
					},
					"js": {
						"type": "String"
					},
					"jsonStr": {
						"type": "String"
					},
					"lotIDs_json": {
						"type": "String"
					},
					"PQR_A": {
						"type": "Array"
					},
					"PQR_NA": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Debugging"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PoroCadQAResultsSQLDS')]",
				"[concat(variables('factoryId'), '/pipelines/Porocad_to_PressureVolume_PQRDB')]",
				"[concat(variables('factoryId'), '/pipelines/PorocadQAResults')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PoroCadQAResultsSQLDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('SqlServerPorcadQALS')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "stg",
					"table": "SLQARESULTS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Porocad_to_PressureVolume_PQRDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data from ADLSGen2 to PQRDB",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Trigger Porocad Pressure Volume Notebook",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "TRUNCATE TABLE STG.SLPOROPV",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "[parameters('DataLakeGen2StarlimsLS')]",
									"type": "LinkedServiceReference"
								},
								"path": "shell01eunadls2lsxooibpa/RAW/W00027-ELP_ANALYTICAL/Porocadstg"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Ordno",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SLSAMPLEID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LotID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LOTID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PressureVolumeData",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PressureVolumeDetails",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PorocadADLSGen2DS",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "PorocadSQLDS",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Trigger Porocad Pressure Volume Notebook",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/v.kollapudi@shell.com/Porocad_Sample_data",
							"baseParameters": {
								"PQRLot": {
									"value": "@string(pipeline().parameters.PQR_A)",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('DatabricksStarlimsLS')]",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"PQR_A": {
						"type": "array"
					}
				},
				"folder": {
					"name": "Debugging"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PorocadADLSGen2DS')]",
				"[concat(variables('factoryId'), '/datasets/PorocadSQLDS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PorocadQAResults')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Data to Porocad QA Results",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Trigger Porocad QA Results Notebook",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "truncate table [stg].[SLQARESULTS]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Ordno",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SLSAMPLEID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LotID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LOTID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PQRTestID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TestID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "value",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 18,
											"precision": 25
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PorocadQRResults",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "PoroCadQAResultsSQLDS",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Trigger Porocad QA Results Notebook",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/v.kollapudi@shell.com/Porocad_oAnalyteData"
						},
						"linkedServiceName": {
							"referenceName": "[parameters('DatabricksStarlimsLS')]",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Debugging"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PorocadQRResults')]",
				"[concat(variables('factoryId'), '/datasets/PoroCadQAResultsSQLDS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PorocadADLSGen2DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('DataLakeGen2StarlimsLS')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "RAW/W00027-ELP_ANALYTICAL/PorocadPressureVolume",
						"fileSystem": "shell01eunadls2lsxooibpa"
					},
					"columnDelimiter": ",",
					"rowDelimiter": "\n",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "11254",
						"type": "String"
					},
					{
						"name": "G32393001A",
						"type": "String"
					},
					{
						"name": "P00000024001",
						"type": "String"
					},
					{
						"name": "[[{volume=0.0, pressure=1.52}, {volume=0.0033, pressure=2.0}, {volume=0.0071, pressure=3.0}, {volume=0.0092, pressure=4.0}, {volume=0.0111, pressure=5.5}, {volume=0.0123, pressure=6.99}, {volume=0.0132, pressure=8.49}, {volume=0.014, pressure=10.48}, {volume=0.0148, pressure=12.97}, {volume=0.0156, pressure=15.95}, {volume=0.0165, pressure=19.99}, {volume=0.0171, pressure=22.98}, {volume=0.0175, pressure=24.99}, {volume=0.0183, pressure=29.96}, {volume=0.0186, pressure=38.35}, {volume=0.019, pressure=48.29}, {volume=0.0192, pressure=57.95}, {volume=0.0204, pressure=73.24}, {volume=0.0213, pressure=87.88}, {volume=0.0228, pressure=113.45}, {volume=0.0242, pressure=137.74}, {volume=0.0265, pressure=172.81}, {volume=0.031, pressure=218.31}, {volume=0.0385, pressure=268.32}, {volume=0.0491, pressure=328.44}, {volume=0.0677, pressure=418.92}, {volume=0.0898, pressure=518.3}, {volume=0.1141, pressure=637.69}, {volume=0.1242, pressure=698.05}, {volume=0.1378, pressure=798.16}, {volume=0.1564, pressure=988.36}, {volume=0.1703, pressure=1198.04}, {volume=0.1755, pressure=1298.37}, {volume=0.1798, pressure=1398.32}, {volume=0.1841, pressure=1498.18}, {volume=0.1877, pressure=1597.77}, {volume=0.1909, pressure=1697.32}, {volume=0.1964, pressure=1897.92}, {volume=0.1999, pressure=2047.42}, {volume=0.203, pressure=2196.34}, {volume=0.2058, pressure=2346.27}, {volume=0.2082, pressure=2495.25}, {volume=0.2104, pressure=2644.87}, {volume=0.2111, pressure=2694.75}, {volume=0.2132, pressure=2844.5}, {volume=0.2149, pressure=2994.41}, {volume=0.2176, pressure=3243.98}, {volume=0.2201, pressure=3493.67}, {volume=0.2223, pressure=3743.22}, {volume=0.2243, pressure=3992.47}, {volume=0.2261, pressure=4241.95}, {volume=0.2278, pressure=4491.79}, {volume=0.2292, pressure=4731.16}, {volume=0.2307, pressure=4982.96}, {volume=0.2323, pressure=5282.32}, {volume=0.2335, pressure=5485.25}, {volume=0.2348, pressure=5732.82}, {volume=0.2359, pressure=5975.91}, {volume=0.2372, pressure=6225.63}, {volume=0.2382, pressure=6473.26}, {volume=0.2394, pressure=6721.85}, {volume=0.2404, pressure=6968.92}, {volume=0.2425, pressure=7475.57}, {volume=0.2444, pressure=7966.11}, {volume=0.2464, pressure=8474.32}, {volume=0.2483, pressure=8973.7}, {volume=0.2494, pressure=9266.09}, {volume=0.2506, pressure=9567.55}, {volume=0.2525, pressure=10024.57}, {volume=0.254, pressure=10468.22}, {volume=0.256, pressure=10971.37}, {volume=0.2581, pressure=11470.33}, {volume=0.26, pressure=11971.06}, {volume=0.2624, pressure=12574.14}, {volume=0.2645, pressure=13072.03}, {volume=0.2668, pressure=13620.82}, {volume=0.2685, pressure=13963.93}, {volume=0.2702, pressure=14306.29}, {volume=0.2715, pressure=14568.37}, {volume=0.2735, pressure=14970.01}, {volume=0.2758, pressure=15417.96}, {volume=0.2778, pressure=15765.4}, {volume=0.2801, pressure=16170.8}, {volume=0.2825, pressure=16618.6}, {volume=0.2848, pressure=16966.19}, {volume=0.287, pressure=17315.95}, {volume=0.2893, pressure=17662.96}, {volume=0.292, pressure=18066.09}, {volume=0.2944, pressure=18417.79}, {volume=0.2969, pressure=18767.09}, {volume=0.2998, pressure=19161.32}, {volume=0.3042, pressure=19771.43}, {volume=0.3083, pressure=20273.85}, {volume=0.3125, pressure=20777.2}, {volume=0.316, pressure=21180.15}, {volume=0.3202, pressure=21632.82}, {volume=0.3241, pressure=22034.73}, {volume=0.3296, pressure=22637.15}, {volume=0.3353, pressure=23188.1}, {volume=0.3411, pressure=23739.6}, {volume=0.3445, pressure=24089.81}, {volume=0.3492, pressure=24640.92}, {volume=0.3525, pressure=25041.1}, {volume=0.3559, pressure=25441.2}, {volume=0.3586, pressure=25891.93}, {volume=0.3737, pressure=26442.08}, {volume=0.3826, pressure=26942.5}, {volume=0.3919, pressure=27392.64}, {volume=0.3986, pressure=27793.36}, {volume=0.4086, pressure=28242.69}, {volume=0.4217, pressure=28993.0}, {volume=0.4345, pressure=29493.33}, {volume=0.4459, pressure=29993.47}, {volume=0.4606, pressure=30443.96}, {volume=0.4737, pressure=30893.98}, {volume=0.4855, pressure=31294.19}, {volume=0.4982, pressure=31792.98}, {volume=0.5182, pressure=32342.59}, {volume=0.5347, pressure=32892.4}, {volume=0.5564, pressure=33492.59}, {volume=0.5732, pressure=33994.07}, {volume=0.5957, pressure=34642.88}, {volume=0.6228, pressure=35492.77}, {volume=0.6449, pressure=36191.17}, {volume=0.6683, pressure=36991.5}, {volume=0.6841, pressure=37640.94}, {volume=0.7044, pressure=38444.23}, {volume=0.7206, pressure=39190.29}, {volume=0.7354, pressure=39992.53}, {volume=0.7438, pressure=40492.34}, {volume=0.7523, pressure=40991.78}, {volume=0.7732, pressure=42491.68}, {volume=0.7833, pressure=43342.9}, {volume=0.7903, pressure=43992.14}, {volume=0.8001, pressure=44991.58}, {volume=0.8131, pressure=46489.32}, {volume=0.8238, pressure=47994.24}, {volume=0.8327, pressure=49493.82}, {volume=0.8366, pressure=50194.44}, {volume=0.8491, pressure=52973.97}, {volume=0.8543, pressure=54469.0}, {volume=0.8589, pressure=55965.35}, {volume=0.8643, pressure=57965.73}, {volume=0.8687, pressure=59964.29}]",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PorocadSQLDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('SqlServerPorcadQALS')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "stg",
					"table": "SLPOROPV"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PorocadQRResults')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('DataLakeGen2StarlimsLS')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "part-00000-tid-1275703990402962101-0c3aee57-e74c-47e9-b66a-91e67ccef6d6-114-1-c000.csv",
						"folderPath": "RAW/W00027-ELP_ANALYTICAL/PorocadQAResults",
						"fileSystem": "shell01eunadls2lsxooibpa"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		}
	]
}